/* This style is only for the light and dark mode in the contact component */

#light{
    background-color: #fff;

}
#dark{
    background-color: #222;
    color: #fff;
}
#dark .btn:hover{
    color: #fff;
}
#dark .footer{
    background: linear-gradient(to left,#acb6e5,#86fde8);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}